.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}
.dark{
    background-color: #16191c;
    color: white;
}
.light{
    color: #16191c;
    background-color: white;
}